## [stepper_x] [stepper_y] and their TMC sections.
## Sensorless homing config lives here too, but note that
## klipper-toolchanger-easy owns the homing ROUTINE — see
## the homing_override_config variables in your toolchanger overrides.

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14

rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200

endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 80
homing_retract_dist: 0
position_min: 0
position_max: 300
position_endstop: 300
use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1
home_current: 0.49
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 150
current_change_dwell_time: 0.2

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5

rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200

endstop_pin: ^PG9 #tmc2209_stepper_y:virtual_endstop
homing_speed: 80
homing_retract_dist: 5
second_homing_speed: 10

position_min: 0
position_max: 300
position_endstop: 300
use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PC6
interpolate: false
run_current: 1
home_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: ^PG10
#driver_SGTHRS: 255
current_change_dwell_time: 0.2
