## Everything that does not deserve its own file yet.

[idle_timeout]
timeout: 7200 #2 hours
#[filament_switch_sensor ...]   # per-tool sensors go in the tool configs
#[board_pins]

[temperature_sensor gantry]
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: 0
max_temp: 130
gcode_id: C

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF7
min_temp: 0
max_temp: 130
