## Standard Toolhead - non-toolchanger
# BIGTREETECH EBB SB2209 CAN Voron StealthBurner
[mcu stealthburner]
canbus_uuid: 0f8c391b52f4

[temperature_sensor sb2209_mcu]
sensor_type: temperature_mcu
sensor_mcu: stealthburner

[temperature_sensor sb2209]
sensor_type: Generic 3950
sensor_pin: stealthburner: PA2

[adxl345]
cs_pin: stealthburner: PB12
spi_software_sclk_pin: stealthburner: PB10
spi_software_mosi_pin: stealthburner: PB11
spi_software_miso_pin: stealthburner: PB2
axes_map: z,-y,x

[extruder]
step_pin: stealthburner: PD0
dir_pin: !stealthburner: PD1
enable_pin: !stealthburner: PD2

microsteps: 32
full_steps_per_rotation:200
rotation_distance: 23.24946846360938
gear_ratio: 50:10

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: stealthburner: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: stealthburner: PA3

control: pid
pid_kp = 36.742
pid_ki = 5.567
pid_kd = 60.625

min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: stealthburner: PA15
run_current: 0.7 #0.350
stealthchop_threshold: 0
sense_resistor: 0.110

[fan]
pin: stealthburner: PA1

[heater_fan hotend_fan]
pin: stealthburner: PA0
heater: extruder
heater_temp: 50.0

[neopixel sb_leds]
pin: stealthburner:PD3
chain_count: 3
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

[probe]
pin: ~!stealthburner:PB9
x_offset: 0
y_offset: 0
z_offset: -0.940
speed: 10
samples: 5
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.01
samples_tolerance_retries: 20 # 5
lift_speed: 50
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
