## Heatsoak, park, nozzle wipe, dock alignment helpers, test moves.
## Anything you invoke by hand from the Mainsail or KlipperScreen console.

[gcode_macro CG28]
description: Home only if not already homed
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro PARK]
description: Lift, then park at bed centre
gcode:
    {% set z_hop = params.Z_HOP|default(3)|float %}
    CG28
    {% set max_z  = printer.toolhead.axis_maximum.z|float %}
    {% set cur_z  = printer.toolhead.position.z|float %}
    {% set safe_z = [cur_z + z_hop, max_z]|min %}
    {% set x_mid  = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_mid  = printer.toolhead.axis_maximum.y|float / 2 %}
    SAVE_GCODE_STATE NAME=PARK_STATE
    G90
    G1 Z{safe_z} F900
    G1 X{x_mid} Y{y_mid} F6000
    RESTORE_GCODE_STATE NAME=PARK_STATE

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32

[gcode_macro HOMED]
description: Report which axes are actually homed
gcode:
    {% set h = printer.toolhead.homed_axes %}
    RESPOND MSG="homed_axes = '{h}'   X:{'y' if 'x' in h else 'n'} Y:{'y' if 'y' in h else 'n'} Z:{'y' if 'z' in h else 'n'}"
